<!DOCTYPE html>
<html>
<head>
	<title>BIG BROTHER</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<script type="text/javascript" src="../static/vue.js"></script> 
</head>
<body>
	<div id="top">
		<img class="logo-img" src="../static/img/logo.svg">
		<span class="logo big-brot"> BIG BROTHER</span>
	</div>
	<div id="logger">
		<div class="headers">
			<span class="employ">Employee</span>
			<span class="camera">Camera</span>
			<span class="time">Time</span>
		</div>
		<div v-for="item in items" v-bind:class="item.isUnknown">
			<div class="main-info">
				<img v-bind:src="item.photo" class="photo">
				<div class="name">{{ item.name }}</div>
			</div>
			<div class="camera">{{ item.cam }}</div>
			<div class="time">{{ item.time }}</div>
		</div>
	</div>

	<script>
		var logger = new Vue({
		  el: '#logger',
		  data: {
		    items: []  
		  }
		});

        var eventSource = new EventSource("http://localhost:5000/stream");

         eventSource.onmessage = function(e) {
         	 var
         	  	data_obj = '';

			 try {
			 	data_obj = JSON.parse(e.data);
			 } catch(e) {

			 }

			 if (data_obj) {
				logger.items.unshift(data_obj);
			 }   
         };
	</script>
</body>
</html>
